{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>|| courses ||</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">NoteBook.in</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" id="coloor"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto"> <!--mb-2 mb-lg-0-->
                    <li class="nav-item">
                        <a class="nav-link" href="./dashboard.html">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./dashboard.html">
                            My profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- courses -->
    <div class="box4 boxx">
        <h2>Notebook.in</h2>
        <h3>Courses</h3>
        <div id="carouselExampleAutoplaying" class="carousel slide slider" data-bs-ride="carousel">
            <div class="carousel-inner one">
                <div class="carousel-item active two">
                        <div class="container">
                            <h1>Career Guidance</h1>
                            <p>Get Career Guidance Free Of Cost</p>
                    
                            <div class="course-details">
                                <p><strong>Course Duration:</strong> 2nd June - 3rd June</p>
                            </div>
                    
                            <div class="buy-button">
                                <a href="./Book Now.html" class="price-tag">Free</a>
                            </div>
                        </div>
                </div>
                <div class="carousel-item itemm">
                    <div class="container">
                        <h1>Java Course by Amit Pandey</h1>
                        <p>Learn Java From basics to advanced</p>
                
                        <div class="course-details">
                            <p><strong>Course Duration:</strong> 2nd June - 2nd November</p>
                        </div>
                
                        <div class="buy-button">
                            <a href="./Book Now.html" class="price-tag">Buy for ₹ 2999 /-</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item itemmm">
                    <div class="container">
                        <h1>Python Course By Sampati Sinha</h1>
                        <p>Learn Python from Basics to Advanced</p>
                
                        <div class="course-details">
                            <p><strong>Course Duration:</strong> 2nd June - 2nd September</p>
                        </div>
                
                        <div class="buy-button">
                            <a href="./Book Now.html" class="price-tag">Buy for ₹ 999</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item itemmmm">
                    <div class="container">
                        <h1>DSA using Java Course by Aman Pandey</h1>
                        <p>Learn Data Structures and Algorithms using Java</p>
                
                        <div class="course-details">
                            <p><strong>Course Duration:</strong> 2nd June - 15 December</p>
                        </div>
                
                        <div class="buy-button">
                            <a href="./Book Now.html" class="price-tag">Buy for ₹ 4999 /-</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item itemmmmm">
                    <div class="container">
                        <h1>Front End Web Development</h1>
                        <p>Learn HTML,CSS and JAVASCRIPT</p>
                
                        <div class="course-details">
                            <p><strong>Course Duration:</strong> 2nd June - 2nd November</p>
                        </div>
                
                        <div class="buy-button">
                            <a href="./Book Now.html" class="price-tag">Buy for ₹ 2999 /-</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item itemmmmmm">
                    <div class="container">
                        <h1>DSA using c++</h1>
                        <p>Learn DSA using c++</p>
                
                        <div class="course-details">
                            <p><strong>Course Duration:</strong> 2nd June - 2nd December</p>
                        </div>
                
                        <div class="buy-button">
                            <a href="./Book Now.html" class="price-tag">Buy for ₹ 1999 /-</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev btnl" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next btnr" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <p class="int">*Courses Shown Are Based On Your Interests</p>
    </div>
    <!-- courses -->
    <div class="flex">
        <div class="box1 box">
            <h3>Note From Toppers</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum soluta quod mollitia excepturi vero,
                placeat sunt id cupiditate odit nihil, fugit temporibus dolorem velit saepe possimus optio ipsam
                nesciunt. Reiciendis tempore dolores consequuntur natus accusantium, ullam numquam totam mollitia
                quisquam iure eius reprehenderit? Tempore, facere labore? Placeat rerum architecto sequi.</p>
            <button><a href="./notes.html" target="_blank">Explore More</a></button>
        </div>
        <div class="box2 box">
            <h2>Carrier Guidence</h2>
            <h6>Events,Meetups,Webinars</h6>
            <p>You know how sometimes you are so overwhelmed with emotions and you want to talk to someone but think no
                one will understand. So you let it sit inside you? We are that someone. Let it all out. We don't just
                hear, We listen without any judgment. Reach out to us at any time</p>
                <button><a href="./webinar.html" target="_blank">Explore More</a></button>
        </div>
    </div>
</body>

</html>