{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</head>
<body>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">NoteBook.in</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" id="coloor"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto"> <!--mb-2 mb-lg-0-->
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Home
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                               About Us
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Contact
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--  Navbar End-->

        <!-- notes starts here -->

    <div class="box4 boxx">
        <h2>Notebook.in</h2>
        <h3>Notes</h3>
        <div id="carouselExampleAutoplaying" class="carousel slide slider" data-bs-ride="carousel">
            <div class="carousel-inner one">
                <div class="carousel-item active two">
                       <div class="boxia">
                            <h2 class="a">Class- 12</h2>
                            <h3 class="a">Mathematics</h3>
                            <h3 class="a">Algebra</h3>
                            <h6 class="a">Solving Linear Equations</h6>
                            <a href="#" class="box-pdf-download"><img src="{% static 'img/pdf.png' %}" alt="Download PDF"></a>
                          </div>
                </div>
                <div class="carousel-item itemm">
                    <div class="boxia">
                        <h2 class="a">Class- 12</h2>
                        <h3 class="a">Physics</h3>
                        <h3 class="a">Kinematics</h3>
                        <h6 class="a">Projectile</h6>
                        <a href="#" class="box-pdf-download"><img src="{% static 'img/pdf.png' %}" alt="Download PDF"></a>
                      </div>
                </div>
                <div class="carousel-item itemmm">
                    <div class="boxia">
                        <h2 class="a">Class- 12</h2>
                        <h3 class="a">Chemistry</h3>
                        <h3 class="a">Organic Chemistry</h3>
                        <h6 class="a">Sand-Mayer Reaction</h6>
                        <a href="#" class="box-pdf-download"><img src="{% static 'img/pdf.png' %}" alt="Download PDF"></a>
                      </div>
                </div>
                <div class="carousel-item itemmm">
                    <div class="boxia">
                        <h2 class="a">Class- 12</h2>
                        <h3 class="a">Mathematics</h3>
                        <h3 class="a">Probability</h3>
                        <h6 class="a">Events</h6>
                        <a href="#" class="box-pdf-download"><img src="{% static 'img/pdf.png' %}" alt="Download PDF"></a>
                      </div>
                </div>
                <div class="carousel-item itemmm">
                    <div class="boxia">
                        <h2 class="a">Class- 12</h2>
                        <h3 class="a">IT</h3>
                        <h3 class="a">HardWare</h3>
                        <h6 class="a">Components Of a computer</h6>
                        <a href="#" class="box-pdf-download"><img src="{% static 'img/pdf.png' %}" alt="Download PDF"></a>
                      </div>
                </div>
                <div class="carousel-item itemmm">
                    <div class="boxia">
                        <h2 class="a">Class- 12</h2>
                        <h3 class="a">Biology</h3>
                        <h3 class="a">Zoology</h3>
                        <h6 class="a">Cell</h6>
                        <a href="#" class="box-pdf-download"><img src="{% static 'img/pdf.png' %}" alt="Download PDF"></a>
                      </div>
                </div>
            </div>
            <button class="carousel-control-prev btnl" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next btnr" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="flex">
        <div class="box1 box">
            <h3>Upload Notes And Earn</h3>
            <h6>Uplaod Your Notes And after verifying you'll be paid</h6>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum soluta quod mollitia excepturi vero,
                placeat sunt id cupiditate odit nihil, fugit temporibus dolorem velit saepe possimus optio ipsam
                nesciunt. Reiciendis tempore dolores consequuntur natus accusantium, ullam numquam totam mollitia
                quisquam iure eius reprehenderit? Tempore, facere labore? Placeat rerum architecto sequi.</p>
            <button><a href="./notes.html" target="_blank">Explore More</a></button>
        </div>
        <div class="box2 box">
            <h2>Notebook Prime</h2>
            <h6>Access To all notes and study Materials</h6>
            <p>You know how sometimes you are so overwhelmed with emotions and you want to talk to someone but think no
                one will understand. So you let it sit inside you? We are that someone. Let it all out. We don't just
                hear, We listen without any judgment. Reach out to us at any time</p>
                <button><a href="./webinar.html" target="_blank">Buy Notebook Prime</a></button>
        </div>
    </div>

</body>
</html>