{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webinar || Meetups</title>
    <link rel="stylesheet" href="{% static 'css/webinar.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- <h3>Upcoming Meetups</h3>
    <h3>Upcoming Webinars</h3>
    <h3>Upcoming Motivational Sessions</h3> -->
    <div class="arambh">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" id="coloor"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Select Your Location
                        </a>
                        <ul class="dropdown-menu news">
                            <div class="l8">
                                <li><a class="dropdown-item" href="{% url 'events' %}" target="_blank">Bhubaneswar</a></li>
                                <li><a class="dropdown-item" href="{% url 'events' %}" target="_blank">Cuttack</a></li>
                                <li><a class="dropdown-item" href="{% url 'events' %}" target="_blank">Puri</a></li>

                                <li><a class="dropdown-item" href="{% url 'events' %}" target="_blank">Anugul</a></li>
                                <li><a class="dropdown-item" href="{% url 'events' %}" target="_blank">Bhadrak</a></li>
                                <li><a class="dropdown-item" href="{% url 'events' %}" target="_blank">Jagatsinghpur</a></li>
                            </div>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
    <div class="main">
    <div class="web">
        <h3>What Is A Webinar ? </h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis dignissimos, commodi alias non
            excepturi sit a vel ex incidunt voluptas odit nisi optio facilis! Minima ipsa id omnis officiis dolor
            praesentium ratione doloribus nisi, nostrum iure sapiente nobis, unde eligendi. Nihil hic dolores minima
            impedit laudantium aliquid fuga excepturi aut.</p>
    </div>
    <div class="meet">
        <h3>What Is A Meetup ? </h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis dignissimos, commodi alias non
            excepturi sit a vel ex incidunt voluptas odit nisi optio facilis! Minima ipsa id omnis officiis dolor
            praesentium ratione doloribus nisi, nostrum iure sapiente nobis, unde eligendi. Nihil hic dolores minima
            impedit laudantium aliquid fuga excepturi aut.</p>
    </div>
    <div class="session">
        <h3>What Is A Motivational Session? </h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis dignissimos, commodi alias non
            excepturi sit a vel ex incidunt voluptas odit nisi optio facilis! Minima ipsa id omnis officiis dolor
            praesentium ratione doloribus nisi, nostrum iure sapiente nobis, unde eligendi. Nihil hic dolores minima
            impedit laudantium aliquid fuga excepturi aut.</p>
    </div>
</div>
</body>

</html>